@import 'reset';
@import 'colors';
@import 'clearfix';

a#nav-about {
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  &:hover {
    color: $bright_blue !important;
  }

  .text {
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    &:hover {
      color: $bright_blue !important;
    }
  }
}

a#nav-work {
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  &:hover {
    color: $yellow !important;
  }

  .text {
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    &:hover {
      color: $yellow !important;
    }
  }
}

a#nav-contact {
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  &:hover {
    color: $burnt_orange !important;
  }

  .text {
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    &:hover {
      color: $burnt_orange !important;
    }
  }
}

a {
  color: $grey;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  &:hover {
    opacity: 0.5;
    text-decoration: none;
  }
}

.hed h1 {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}

ul { padding: 0px; margin: 0 0 10px 25px; }
li { line-height: 20px; }
h2 { font-size: 1em; margin-bottom: 30px; }


h1 {
  font: 400 87px/100px 'Abril Fatface', cursive;
}

h2 {
  font: 300 32px/36px "Open Sans", sans-serif;
  font-style: italic;
}


body {
  font-size: 12px;
  height: 100%;
  width: 100%;
  font: 'Open Sans', sans-serif;
}


#container {
  width: 100%;

  .slide {
    padding: 120px 0 120px 0;
  }


  .tab {
    display: block;
    width: 100%;

    p.nav {
      float: right;
      padding-right: 5%;
      display: inline-block;
      font: 800 60px/65px 'Open Sans';
    }

    h1 {
      width: 80%;
      display: inline-block;
      font: 900 40px/50px 'Playfair Display', cursive;
      font-style: italic;
    }

    padding: 25px 0 25px 0;

    &.about {
      border-left: 15px solid $bright_blue;
    }

    &.work {
      border-left: 15px solid $yellow;
      h1 { margin-left: -10px; }
    }

    &.contact {
      border-left: 15px solid $burnt_orange;
      h1 { margin-left: -10px; }
    }
  }


  #intro {
    background: url('/assets/img/britishmuseum.jpg');
    background-size: cover;
    background-position: center center;
    color: $white;
    a {
      color: $white;
      font-style: italic;
      font-weight: bold;
    }
  }


  .text {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    p {
      font: 300 16px/25px 'Open Sans';
    }

    h3 {
      font: 32px/40px 'Abril Fatface';
      color: $grey;
    }

    h4 {
      font: 300 32px/40px 'Open Sans';
      color: $dark_grey;
      display: block;
      margin-bottom: 2%;
      font-style: italic;
    }
  }

  #about {
    border-left: 15px solid $bright_blue;
    display: none;
    padding: 20px 0 50px 0;
  }

  #work {
    height: 100%;
    border-left: 15px solid $yellow;
    display: none;
    padding: 20px 0 50px 0;

    .work-info {
      display: block;
      height: 20%;

      span.title {
        font: 24px/50px 'Abril Fatface';
        color: $dark_grey;
      }

      span.client {
        font: 800 14px/20px 'Open Sans';
        color: $grey;
      }

      a { color: white; }

      .skills {
        display: block;
        li {
          list-style-type: none;
          font-style: italic;
          display: inline-block;
          background: white;
          color: $grey;
          border-radius: 8px;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          margin-right: 5px;
        }
      }

      .quotation {
        font: 50px/20px 'Open Sans';
      }

      .blurb {
        font: 300 16px/20px 'Open Sans';
        margin-bottom: 2%;
      }
    }

    .work-sample {
      height: 420px;
      padding: 15px;
      border: 1px solid $ivory;
      margin-bottom: 3%;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover { opacity: 0.5; }

      #good {

        height: 100%;
        background: url('/assets/img/good.png') center center no-repeat;
        background-size: contain;
      }

      #good-mobile {
        height: 100%;
        background: url('/assets/img/good-mobile.png') center center no-repeat;
        background-size: contain;
      }

      #npr-inaug {
        height: 100%;
        background: url('/assets/img/npr-inaug.png') center center no-repeat;
        background-size: contain;
      }

      #npr-oscars {
        height: 100%;
        background: url('/assets/img/npr-oscars.png') center center no-repeat;
        background-size: contain;
      }

      #npr-grain {
        height: 100%;
        background: url('/assets/img/npr-grain.png') center center no-repeat;
        background-size: contain;
      }

      #npr-wamu {
        height: 100%;
        background: url('/assets/img/npr-wamu.png') center center no-repeat;
        background-size: contain;
      }
    }
  }

  #contact {
    border-left: 15px solid $burnt_orange;
    display: none;
    padding: 20px 0 50px 0;
  }
}

footer {
  padding: 30px;
  text-align: center;

  p {
    color: #555;
    font: 400 13px/13px 'Open Sans';
  }

  a {
    font-weight: 700;
    &:hover { color: black; }
  }
}


// Media queries

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .tab p.nav { margin-top: -3%; }

  .text {
    padding-left: 30px;
  }
}

@media (max-width: 480px) {
  #container {
    #work .work-sample {
      height: 320px;

      #good {
        background-size: cover;
        background-position: left center;
      }

      #npr-inaug {
        background-size: cover;
        background-position: left center;
      }

      #npr-oscars {
        background-size: cover;
        background-position: left center;
      }

      #npr-grain {
        background-size: cover;
        background-position: left center;
      }

      #npr-wamu {
        background-size: cover;
        background-position: left center;
      }
    }
  }
}
