@import 'reset';
@import 'colors';
@import 'clearfix';

a { text-decoration: none; color: $dark_grey; }
ul { padding: 0px; margin: 0 0 10px 25px; }
li { line-height: 20px; }
h2 { font-size: 1em; margin-bottom: 30px; }

h1 {
  font: 400 87px/100px 'Abril Fatface', cursive;
}

h2 {
  font: 300 32px/36px "Open Sans", sans-serif;
  font-style: italic;
}


body {
  font-size: 12px;
  height: 100%;
  width: 100%;
  font: 'Open Sans', sans-serif;
  // background: url('/assets/img/bg.png');
}

#container {
  width: 100%;

  .slide {
    padding: 125px 0 150px 0;
  }

  a#nav-about:hover { color: $burnt_orange; }
  a#nav-work:hover { color: $bright_blue; }
  a#nav-contact:hover { color: $yellow; }

  .tab {
    display: block;
    width: 100%;

    p.nav {
      float: right;
      display: inline-block;
      font: 800 60px/50px 'Open Sans';
    }

    h1 {
      width: 80%;
      display: inline-block;
      font: 900 40px/50px 'Playfair Display', cursive;
      font-style: italic;
    }

    padding: 25px 0 25px 0;

    &.about {
      border-left: 15px solid $burnt_orange;
    }

    &.work {
      border-left: 15px solid $bright_blue;
    }

    &.contact {
      border-left: 15px solid $yellow;
    }
  }


  #intro {
    background: url('/assets/img/britishmuseum.jpg');
    background-size: cover;
    background-position: center center;
    color: $white;
  }


  .text {
    margin: 0 auto;
    width: 80%;
    p {
      font: 300 16px/20px 'Open Sans';
    }

    h3 {
      font: 32px/40px 'Abril Fatface';
      color: $grey;
    }

    h4 {
      font: 600 32px/40px 'Open Sans';
      color: $grey;
    }
  }

  #about {
    display: none;
    padding: 100px 0 100px 0;
  }

  #work {
    display: none;
    padding: 100px 0 100px 0;
  }

  #contact {
    display: none;
    padding: 100px 0 100px 0;
  }
}

footer {
  padding: 50px;
  text-align: center;

  p {
    color: #555;
    font: 400 13px/13px 'Open Sans';
  }

  a {
    font-weight: 700;
    &:hover { color: black; }
  }
}


// Media queries

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .text {
    padding-left: 30px;
  }
}

@media (max-width: 480px) {
}
