html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

a img {
  border: 0; }

figure {
  position: relative; }

figure img {
  width: 100%; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  height: 0;
  width: 0; }

a {
  text-decoration: none;
  color: #444444; }

ul {
  padding: 0px;
  margin: 0 0 10px 25px; }

li {
  line-height: 20px; }

h2 {
  font-size: 1em;
  margin-bottom: 30px; }

h1 {
  font: 400 87px/84px "Abril Fatface", cursive; }

h2 {
  font: 300 18px/24px "Open Sans", sans-serif; }

body {
  font-size: 12px;
  height: 100%;
  width: 100%;
  font: "Open Sans", sans-serif; }

#container {
  width: 100%; }
  #container .slide {
    padding: 125px 0 150px 0; }
  #container a.nav-about:hover {
    color: #ed7702; }
  #container a.nav-work:hover {
    color: #0ac5f4; }
  #container a.nav-contact:hover {
    color: #ffd200; }
  #container .tab {
    display: block;
    width: 100%;
    padding: 25px 0 25px 0; }
    #container .tab p {
      width: 20%;
      float: right;
      display: inline-block;
      font: 800 60px/50px "Open Sans"; }
    #container .tab h1 {
      width: 80%;
      display: inline-block;
      font: 900 40px/50px "PLayfair Display", cursive;
      font-style: italic; }
    #container .tab.about {
      border-left: 15px solid #ed7702; }
    #container .tab.work {
      border-left: 15px solid #0ac5f4; }
    #container .tab.contact {
      border-left: 15px solid #ffd200; }
  #container #intro {
    background: white;
    border-left: 15px solid #e8e8e8; }
  #container .text {
    margin: 0 auto;
    width: 90%; }
  #container #about {
    display: none;
    background: #ed7702; }
  #container #work {
    display: none;
    background: #0ac5f4; }
  #container #contact {
    display: none;
    background: #ffd200; }

footer {
  padding: 50px;
  text-align: center; }
  footer p {
    color: #555;
    font: 400 13px/13px "Open Sans"; }
  footer a {
    font-weight: 700; }
    footer a:hover {
      color: black; }

@media (max-width: 767px) {
  .text {
    padding-left: 30px; } }
